
<h2>List of questions from: <%=@deck.name%></h2>
<a href="/flashcards/index">Back to Home page </a>
<br>
<a href="/deck/<%= @deck.id %>">Back to deck</a>
<h3>If you have answered all the questions, you must relogin to play again </h3>
Attempts: <%= @round.attempt %>
<% @cards.each do |card| %>
  <% if card.guesses[0].correct? == false && @guess[@counter].round_id == card.guesses[0].round_id %>
  <p><%= card.question %></p>
<form method='post' action='/deck/<%= card.deck_id %>/card/<%= card.id %>'>
  <input type='submit' name='show_answer' value="Show Answer" />
  <hr>
</form>
<% @counter += 1 %>
<%end%>
<%end%>
